@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bg-my_black;

}

.menu-item:hover, .menu-item:focus, .menu-item:active{
    @apply bg-primary;
    @apply text-my_black;
    @apply font-bold;
}

.glow-border {
    position: relative;
    z-index: 1;
  }

  .glow-border::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: inherit;
    z-index: -1;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5);
    animation: rotateGlow 5s linear infinite;
  }

  @keyframes rotateGlow {
    0% {
        box-shadow: 0 0 20px 5px #237263;
    }
    25% {
      box-shadow: 0 0 20px 5px #CFBDEC;
    }
    50% {
      box-shadow: 0 0 20px 5px #E6C068;
    }
    75% {
      box-shadow: 0 0 20px 5px #C83349;
    }
    100% {
      box-shadow: 0 0 20px 5px #237263;
    }
    120% {
        box-shadow: 0 0 20px 5px #AA5E46;
      }
  }

/* body {
    background-image: url('../public/images/2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url('../public/images/2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 110vh;
    }
} */

/* body {
    background-image: url('../public/images/2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url('../public/images/2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 110vh;
    }
} */







