@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('../public/images/2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* @media screen and (min-width: 768px) {
    body{
        background-image: url('../public/images/2.png');
    background-size: 50vh;
    background-repeat: no-repeat;

    }

} */



