@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f4f6;

}

.menu-item:hover, .menu-item:focus, .menu-item:active{
    @apply bg-primary;
    @apply text-black;
    @apply font-bold;
}

.glow-border {
    position: relative;
    z-index: 1;
  }

  .glow-border::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: inherit;
    z-index: -1;
    box-shadow: 0 0 20px 0px #184690;
    animation: rotateGlow 5s linear infinite;
  }

  @keyframes rotateGlow {
    0% {
        box-shadow: 0 0 20px 5px #FFFFFF;
    }
    25% {
      box-shadow: 0 0 10px 5px #FFFFFF;
    }
    50% {
      box-shadow: 0 0 20px 5px #FFFFFF;
    }
    75% {
      box-shadow: 0 0 10px 5px #FFFFFF;
    }
    100% {
      box-shadow: 0 0 20px 5px #EFF0F2;
    }
  }

  .glass {
    background-color: rgba(255, 255, 255, 0.89); /* Adjust the RGBA values for color and opacity */
    -webkit-backdrop-filter: blur(10px); /* Adjust the blur amount as needed for Safari */
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    border-radius: 10px; /* Optional: adds rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.792); /* Optional: adds a light border */
  }








